<div class="form-group">
  <label>{{ question.text }}<span ng-if="question.requiredFlag" class="reqFlag">*</span></label>
  <div class="row">
    <div class="col-xs-6">
      <label>{{question.scaleFormat.leftLabel || 'Not At All Likely' }}</label>
    </div>
    <div class="col-xs-6 text-right">
      <label>{{question.scaleFormat.rightLabel || 'Extremely Likely' }}</label>
    </div>
  </div>
  <ul class="list-unstyled list-justified">
    <li ng-repeat="n in [1,2,3,4,5,6,7]">
      <label for="option-{{question._id}}-{{$index+1}}">{{$index+1}}</label>
      <input type="radio" name="question-{{question._id}}" id="option-{{question._id}}-{{$index+1}}" value="{{$index+1}}">
    </li>
  </ul>
</div>